<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../static/css/pico.min.css" th:href="@{css/pico.min.css}">
	<title>Form Example</title>
</head>
<body>
	<main class="container">
		<h1>Weather application</h1>
		<form class="grid" action="#" th:action="@{/process}" method="POST">
			<label for="cityName">City name:
				<input type="text" id="cityName" name="cityName" required />
			</label>
			<button type="submit">Find out the weather!</button>
		</form>
	</main>
</body>
</html>