<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Form Example</title>
</head>
<body>
	<h1>Weather application</h1>
	<br>
	<form action="#" th:action="@{/process}" method="POST">
		<div>
			<label for="cityName">City name:</label>
			<input type="text" id="cityName" name="cityName" />
		</div>
		<br>

		<button style="height: 70px; width: 200px" type="submit">Find
			out the weather!</button>
	</form>

</body>
</html>